<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration and login app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<!--    navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light " style="background: #e3f2fd;">
    <a class="navbar-brand" href="#">Home</a>

    <div class="collapse navbar-collapse " id="navbar"   >

            <button class="btn btn-primary" sec:authorize="isAuthenticated()">
                <a class="navbar-brand"  th:href="@{/logout}" >Logout </a>
            </button>


    </div>

</nav>


<br>
<br>
<div class="container">
    <h1>Welcome to the home page</h1>
    Welcome <span sec:authentication="principal.username">User</span>

</div>

</body>
</html>